<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.mapper.VipMapper">

	<select id="queryAll" resultType="vip">
		select * from t_vip
		<where>
			<if test="name != null and name != ''">
				and name like concat('%',#{name},'%')
			</if>
			<if test="age != null and age != ''">
				<if test="age == 1">
					and age >= 0 and age &lt; 18
				</if>
				<if test="age == 2">
					and age >= 18 and age &lt; 45
				</if>
				<if test="age == 3">
					and age >= 45
				</if>
			</if>
		</where>
	</select>
	
	<delete id="delVip">
		delete from t_vip where id = #{id}
	</delete>
	
	<insert id="saveVip">
		insert into t_vip (
			name, age, sex, salary, birthDay
		) values (
			#{name}, #{age}, #{sex}, #{salary}, #{birthDay}
		)
	</insert>
	
	<update id="updateVip">
		update t_vip 
		set name = #{name}, age = #{age}, sex = #{sex}, salary = #{salary}, birthDay = #{birthDay}
		where id = #{id}
	</update>
	
	<select id="queryOne" resultType="vip">
		select * from t_vip where id = #{id}
	</select>
	
</mapper>